<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Entra eLearning demo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/auth_request_generator.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-light" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light text-white"
                style="background-color: #0B0B45!important;;">Menu</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item p-3" href="#!"> <i
                        class="bi me-2 bi-person-circle"></i>
                    My profile</a>
                <a class="list-group-item list-group-item-action list-group-item p-3" href="#!"><i
                        class="bi me-2 bi-search"></i>
                    Search profile</a>
                <a class="list-group-item list-group-item-action list-group-item p-3" href="#!"><i
                        class="bi me-2 bi-person-lines-fill"></i>
                    Edit profile</a>
                <a class="list-group-item list-group-item-action list-group-item p-3" href="#!"><i
                        class="bi me-2 bi-cart3"></i>
                    Orders</a>
                <a class="list-group-item list-group-item-action list-group-item p-3" href="#!"><i
                        class="bi me-2 bi-calendar-date"></i>
                    Schedule</a>
                <a class="list-group-item list-group-item-action list-group-item p-3" href="#!"><i
                        class="bi me-2 bi-graph-up-arrow"></i>
                    Reports</a>
                <a class="list-group-item list-group-item-action list-group-item p-3" href="#!"> <i
                        class="bi me-2 bi-wrench"></i>
                    Settings</a>
                @if (ViewData["access_token"] != null)
                {
                    <a class="list-group-item list-group-item-action list-group-item p-3"
                    href='https://jwt.ms/#access_token=@ViewData["access_token"]'><i
                        class="bi me-2 bi-file-earmark-binary"></i>
                        Access token</a>
                }
            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary border-bottom"
                style="background-color: #0B0B45!important;">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-page="/Index"><i class="bi bi-layers-half"></i> Entra
                        eLearning
                        demo</a>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <partial name="_LoginPartial" />
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>