@page
@model GroupsModel
@{
    ViewData["Title"] = "Teams";
}

<div class="text-center">
    <h1 class="display-5" style="padding-top: 20px;"><i class="bi me-2 bi-people-fill"> </i> eLearning teams</h1>
</div>


<div>
    <!-- Request code -->
    <div id="requestCodeContainer" style="display: none">
        <div class="alert alert-secondary" role="alert">
            HTTP GET request
        </div>
        <code style="overflow-x: scroll!important; white-space: nowrap;" id="sampleJavaScriptCode">

        </code>
    </div>

    <br />
    <!-- Error -->
    <div id="errorContainer">
        <div class="alert alert-danger" role="alert">
            Error
        </div>
        <code style="overflow-x: scroll!important; white-space: nowrap;" id="error"></code>
        <br />
        <a id="fixScopeIssue" style="display:  none;" class="text-dark" asp-area="MicrosoftIdentity"
            asp-controller="MyAccount" asp-action="SignInWithGroupReadAll">Sign with Group.Read.All scope</a>
    </div>

    <!-- Result code -->
    <div id="resultCodeContainer" style="display: none">
        <div class="alert alert-success" role="alert">
            HTTP response
        </div>
        <code style="overflow-x: scroll!important; white-space: nowrap;" id="resultCode"></code>
    </div>

    <!-- Result -->
    <div id="resultContainer">
        <form id="result">

        </form>
    </div>
</div>


<script id="sampleJavaScript">

    function getGroups() {

        var settings = {
            "url": "https://graph.microsoft.com/v1.0/groups",
            "method": "GET",
            "headers": {
                "Authorization": "Bearer @Model.AccessToken"
            },
        };

        $.ajax(settings).done(function (response) {
            render(response);

        }).fail(function (jqXHR, textStatus) {
            renderError(jqXHR.responseJSON);
        });
    }
</script>


<script>

    function renderError(json) {
        document.getElementById("error").innerHTML = JSON.stringify(json, null, 4).replace(/\n/g, "<br/>").replace(/ /g, "&nbsp;");
        document.getElementById("errorContainer").style.display = ""

        if (json.error.code === "Authorization_RequestDenied")
            document.getElementById("fixScopeIssue").style.display = ""
    }

    document.getElementById("errorContainer").style.display = "none";
    document.getElementById("error").innerHTML = "";

    function render(json) {
        document.getElementById("resultCode").innerHTML = JSON.stringify(json, null, 4).replace(/\n/g, "<br/>").replace(/ /g, "&nbsp;");

        var html = "<ul class='list-group list-group-flush'>"    
        for (var key in json.value) {
            if (json.value.hasOwnProperty(key)) {
                html += "<li class='list-group-item list-group-item-action'><i class='bi me-2 bi-people-fill' style='color: silver;'> </i>" + json.value[key].displayName + "</li>"
            }
        }
        html += "</ul>";
        document.getElementById("result").innerHTML = html;
    }

    function start() {
        document.getElementById("errorContainer").style.display = "none";
        document.getElementById("error").innerHTML = "";

        getGroups();
    }

    var js = document.getElementById("sampleJavaScript").text
    document.getElementById("sampleJavaScriptCode").innerHTML = js.replace(/\n/g, "<br/>").replace(/ /g, "&nbsp;")

    start();
</script>
