@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">My profile</h1>
</div>

<div>

    <div class="alert alert-secondary" role="alert">
        Request
    </div>
    <code style="overflow-x: scroll!important; white-space: nowrap;" id="sampleJavaScriptCode">

    </code>
    <br />
    <button type="button" class="btn btn-link" onclick="getProfile()"><i class="bi bi-caret-right"></i> Get user
        profile</button>

    <br />
    <div id="resultContainer" style="display: none">
        <div class="alert alert-secondary" role="alert">
            Response
        </div>
        <code style="overflow-x: scroll!important; white-space: nowrap;" id="result">
        </div>
</div>

<script id="sampleJavaScript">
    var settings = {
        "url": "https://graph.microsoft.com/v1.0/me",
        "method": "GET",
        "headers": {
            "Authorization": "Bearer @Model.AccessToken"
        },
    };

    function getProfile() {
        $.ajax(settings).done(function (response) {
            render(response);

        }).fail(function(jqXHR, textStatus) {
            render(jqXHR.responseJSON);
        });
    }
</script>

<script>
    function render(json) {
        document.getElementById("result").innerHTML = JSON.stringify(json, null, 4).replace(/\n/g, "<br/>").replace(/ /g, "&nbsp;");
        document.getElementById("resultContainer").style.display = "";
    }

    var js = document.getElementById("sampleJavaScript").text
    document.getElementById("sampleJavaScriptCode").innerHTML = js.replace(/\n/g, "<br/>").replace(/ /g, "&nbsp;")

</script>