@page
@model SearchProfileModel
@{
    ViewData["Title"] = "Search profile";
}

<div class="text-center">
    <h1 class="display-4" style="padding-top: 20px;"><i class="bi me-2 bi-search"> </i> Search profile</h1>
</div>

<form class="row gx-3 gy-2 align-items-center">
    <div class="col-sm-3">
        <label class="visually-hidden" for="upn">User principal name</label>
        <div class="input-group">
            <div class="input-group-text">@@</div>
            <input type="text" class="form-control" id="upn" name="upn" placeholder="User principal name"
                value="@Model.UPN">
        </div>
    </div>
    <div class="col-auto">
        <button type="submit" id="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<div style="padding-left: 25px;">
    <!-- Request code -->
    <div id="requestCodeContainer" style="display: none">
        <div class="alert alert-secondary" role="alert">
            HTTP GET request
        </div>
        <code style="overflow-x: scroll!important; white-space: nowrap;" id="sampleJavaScriptCode">

        </code>
    </div>

    <br />
    <!-- Error -->
    <div id="errorContainer">
        <div class="alert alert-danger" role="alert">
            Error
        </div>
        <code style="overflow-x: scroll!important; white-space: nowrap;" id="error"></code>
        <br/>
        <a id="fixScopeIssue" style="display:  none;" class="text-dark" asp-area="MicrosoftIdentity"
            asp-controller="MyAccount" asp-action="SignInWithUserReadAll">Sign with User.Read.All scope</a>
    </div>

    <!-- Result code -->
    <div id="resultCodeContainer" style="display: none">
        <div class="alert alert-success" role="alert">
            HTTP response
        </div>
        <code style="overflow-x: scroll!important; white-space: nowrap;" id="resultCode"></code>
    </div>

    <!-- Result -->
    <div id="resultContainer">
        <form id="result">

        </form>
    </div>
</div>

@if (this.Request.Query.Keys.Contains("upn"))
{
    <script id="sampleJavaScript">
    var settings = {
        "url": "https://graph.microsoft.com/v1.0/users/@Model.UPN",
        "method": "GET",
        "headers": {
            "Authorization": "Bearer @Model.AccessToken"
        },
    };

    function getProfile() {

        $.ajax(settings).done(function (response) {
            render(response);

        }).fail(function (jqXHR, textStatus) {
            renderError(jqXHR.responseJSON);
        });
    }
</script>
}

<script>

    function renderError(json) {
        document.getElementById("error").innerHTML = JSON.stringify(json, null, 4).replace(/\n/g, "<br/>").replace(/ /g, "&nbsp;");
        document.getElementById("errorContainer").style.display = ""

        if (json.error.code === "Authorization_RequestDenied")
            document.getElementById("fixScopeIssue").style.display = ""
    }

    document.getElementById("errorContainer").style.display = "none";
    document.getElementById("error").innerHTML = "";
</script>

@if (this.Request.Query.Keys.Contains("upn"))
{
    <script>

    function render(json) {
        document.getElementById("resultCode").innerHTML = JSON.stringify(json, null, 4).replace(/\n/g, "<br/>").replace(/ /g, "&nbsp;");

        renderForm(json)
    }

    function start() {
        document.getElementById("errorContainer").style.display = "none";
        document.getElementById("error").innerHTML = "";

        getProfile();
    }

    var js = document.getElementById("sampleJavaScript").text
    document.getElementById("sampleJavaScriptCode").innerHTML = js.replace(/\n/g, "<br/>").replace(/ /g, "&nbsp;")

    start();
</script>
}